# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Work\Facultatea de Automatica si Calculatoare\2021-2022\Programare Avansata in Java\for students\bank-application-start\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
